.search-form {
  &:focus {
    border: none;
    outline: none;
  }
}
.inner-dropdown {
  min-width: 20rem;
  @media (max-width: 700px) {
    min-width: 10rem;
  }
}
.inner-dropdown-menu {
  width: 20rem;
  height: 20rem;

  @media (max-width: 700px) {
    width: 10rem;
    height: 10rem;
  }
}
