::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.accordion-container {
  margin: 2rem 0 1rem 1rem;
  .accordion {
    font-size: 0.75rem;
    &.accordion-open {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  .channel-header {
    padding-left: 0.5rem;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
}
.display-none {
  display: none;
}
.channel--container {
  position: relative;

  &.active {
    &::before {
      transform: scale(1);
    }
  }

  &::before {
    width: 0.25rem;
    content: "";
    position: absolute;
    left: 0;
    background-color: white;
    border-radius: 0 10px 10px 0;
    height: 50%;
    transform: scale(0);
  }

  &:hover {
    cursor: pointer;
    &::before {
      animation: channelHover 0.5s 1 forwards;
    }
  }
}

@keyframes channelHover {
  to {
    transform: scale(1);
  }
}
