@import "../../variables";

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus-within {
    label {
      font-size: 0.6rem;
      top: -10%;
      color: $primary-color;
    }
  }

  .active {
    font-size: 0.6rem;
    top: -10%;
    color: $primary-color;
  }
  // & label:not(input[value=""]) {
  //   font-size: 0.6rem;
  //   top: -10%;
  //   background-color: antiquewhite;
  //   color: $primary-color;
  // }
  label {
    font-size: 0.75rem;
    top: 20%;
    font-weight: bold;
    position: absolute;
    transition: all 0.2s linear;
  }

  input {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.25rem;
    width: 100%;
    margin-top: 1rem;
    &:focus {
      outline: none;
      border-bottom: 2px solid $primary-color;
    }
  }
  .valid-input {
    border-bottom: 2px solid rgb(0, 201, 10);
  }
  .error-input {
    border-bottom: 2px solid red;
  }
  .error-field {
    color: red;
    font-size: 0.7rem;
    padding-top: 0.5rem;
  }
}
