.platform-container {
  margin: 3rem 5rem;
  box-shadow: 2px 2px 10px black;
  z-index: 2;
}
body {
  background: rgb(255, 255, 240);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 240, 1) 0%,
    rgba(255, 255, 240, 1) 64%,
    rgba(55, 55, 193, 1) 100%
  );
}
