.create-signal-main-container {
  min-height: 100vh;
  min-width: 100%;
  background: url(../../Assets/Login/Vector1.svg);
  background-color: var(--primary-color-1);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .create-signal-container {
    padding: 5rem !important;
    box-shadow: 0 2px 10px black;
    background-color: white;
    max-width: 800px;
    margin: 3rem 0;

    @media (max-width: 650px) {
      & {
        padding: 0 1rem 0 2rem !important;
        box-shadow: none;
      }
    }

    .header-container {
      h5 {
        font-size: 2rem;
      }
    }
  }
}
