.home-container {
  position: relative;
}

.home-container .divider {
  height: 20px;
  background-color: #212529;
  margin: 0;
  border: none;
}

.home-container .divider.light {
  height: 10px;
  border-radius: 20px;
  background-color: rgba(88, 101, 242, 0.2);
}

.home-container .home-section-1 {
  position: relative;
}

.home-container .home-section-1 .section-1-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-top: 4rem;
  gap: 2rem;
  max-width: 50rem;
  padding: 5rem 5rem 3rem;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 rgba(88, 101, 242, 0.37);
          box-shadow: 0 8px 32px 0 rgba(88, 101, 242, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
}

@media (max-width: 1200px) {
  .home-container .home-section-1 .section-1-content-container {
    position: relative;
  }
}

@media (max-width: 600px) {
  .home-container .home-section-1 .section-1-content-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    margin-top: 0;
  }
}

.home-container .home-section-1 .section-1-content-container h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.25em;
  font-weight: 800;
  color: #070d57;
}

.home-container .home-section-1 .section-1-content-container p {
  font-size: clamp(1rem, 1vw, 1.25rem);
  line-height: 1.75em;
}

.home-container .home-section-1 .section-1-content-container .button {
  padding: 1em 2em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #5865f2;
  border-radius: 0;
  border: none;
}

@media (max-width: 40rem) {
  .home-container .home-section-1 .section-1-content-container .button {
    font-size: 0.7rem;
  }
}

.home-container .home-section-1 .section-1-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: clamp(30rem, 90vw, 60rem);
  margin-left: auto;
  padding: 3rem 0 2rem 0;
  background-color: rgba(88, 101, 242, 0.2);
}

@media (max-width: 1200px) {
  .home-container .home-section-1 .section-1-img {
    display: none;
  }
}

.home-container .home-section-2 {
  margin-bottom: 5rem;
}

.home-container .home-section-2 h2::before {
  content: "";
  border-bottom: 3px solid black;
  width: 100px;
  position: absolute;
  top: 0%;
}

.home-container .home-section-2 h2 {
  position: relative;
  padding-top: 2rem;
  color: #070d57;
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 250px;
  margin-bottom: 3rem;
}

.home-container .home-section-2 .section-2-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.home-container .home-section-2 .section-2-content-container div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.home-container .home-section-2 .section-2-content-container div p {
  margin-top: 1rem;
  width: 200px;
  text-align: center;
  font-size: 1.25rem;
}

.subscribe-container {
  background-color: rgba(88, 101, 242, 0.2);
  background-image: url("../../Assets/Home/STARS.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 5rem 2rem;
  margin: 0 2rem;
  color: #070d57;
}

.subscribe-container .sub-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.subscribe-container .sub-div span {
  color: var(--primary-color);
  text-decoration: underline;
}

.subscribe-container .newsletter-sub {
  margin-top: 2rem;
}

.subscribe-container .newsletter-sub p {
  margin-bottom: 1rem;
}

.subscribe-container .newsletter-sub p:nth-child(1) {
  margin-bottom: 0%;
}

.subscribe-container .btn-subs {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #5865f2;
}

.subscribe-container input[type="email"] {
  background: transparent;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #202225;
  margin-bottom: 2rem;
  width: 100%;
}

.subscribe-container input[type="email"]:focus {
  outline: none;
  border-bottom-color: #5865f2;
}

.scroll-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  bottom: 0%;
  right: 0%;
  margin-right: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.scroll-container i::before {
  font-size: 1.25rem;
  color: white;
}
/*# sourceMappingURL=Home.css.map */