@import "../../variables";

.home-container {
  position: relative;
  height: fit-content;
  .home-section-1 {
    .section-1-title {
      transform: rotatez(-90deg);
      position: absolute;
      font-size: 5rem;
      font-weight: bolder;
      margin-left: -56rem;
      padding-left: 20rem;
      color: $header-primary;
      background-color: rgba($primary-color, 0.2);
      width: 1700px;

      @media (max-width: 1300px) {
        position: relative;
      }

      &::before {
        position: absolute;
        left: 0%;
        bottom: 0%;
        content: "";
        border: 6.5rem solid transparent;
        border-bottom-color: white;
      }
    }

    .section-1-content-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 4rem;
      gap: 2rem;
      max-width: 50rem;
      padding: 5rem 5rem 3rem;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba($primary-color, 0.37);
      border: 1px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(11.5px);

      h1 {
        font-size: 3.5rem;
        line-height: 74px;
        font-weight: 800;
        color: $header-primary;
      }
      p {
        line-height: 1.8rem;
      }

      .button {
        padding: 1em 2em;
        width: max-content;
        background-color: $primary-color;
        border-radius: 0;
        border: none;
        @media (max-width: 40rem) {
          font-size: 0.7rem;
        }
      }
    }
    .section-1-img {
      display: flex;
      justify-content: flex-end;
      max-width: 1000px;
      min-height: 500px;
      margin-left: auto;
      padding: 3rem 0 2rem 0;
      // background: #98b8ba;
      background-color: rgba($primary-color, 0.2);
      @media (max-width: 1300px) {
        background-color: rgba($primary-color, 0.05);
        padding: 0%;
        align-items: flex-start;
      }

      img {
        width: clamp(400px, 60%, 700px);
      }
    }
  }

  .home-section-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (max-width: 40rem) {
      justify-content: flex-start;
      align-items: flex-start;
    }
    h2::before {
      content: "";
      border-bottom: 3px solid black;
      width: 100px;
      position: absolute;
      top: 0%;
    }
    h2 {
      padding-top: 2rem;
      color: $header-primary;
      font-size: 2.5rem;
      font-weight: bold;
      max-width: 250px;
    }

    .section-2-content {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      flex-grow: 1;
      @media (max-width: 40rem) {
      }
      div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        p {
          margin-top: 1rem;
          width: 200px;
          text-align: center;
          font-size: 1.25rem;
        }
      }
    }
  }
}

.features-container {
  display: flex;
  justify-content: space-around;
  padding: 0 5rem;
  align-items: center;
  margin: 5rem 0 10rem 0;
  @media (max-width: 1064px) {
    flex-direction: column;
    gap: 5rem;

    &.col-reverse {
      flex-direction: column-reverse !important;
    }
    .push-right {
      margin-left: 0%;
    }
    .features-content-container {
      height: fit-content;
      flex-basis: 0 !important;
    }
  }
  .features-content-container {
    flex-basis: 500px;
    h3 {
      font-size: clamp(2rem, 4vw, 2.75rem);
      line-height: 1.25;
      padding-bottom: 1.75rem;
      font-weight: bold;
      color: $header-primary;
    }
    p {
      font-size: clamp(0.8rem, 1.5vw, 1.1rem);
      line-height: 1.75;
      color: #717171;
    }
  }
  .features-img-container {
    max-width: 700px;
    position: relative;
    .pad {
      position: absolute;
      width: 100px;
      right: -10%;
      top: -10%;
      z-index: -1;
    }
    .greenbox {
      left: -10%;
      top: -20%;
      position: absolute;
      z-index: -1;
    }
  }
}
.push-right {
  margin-left: auto;
}

.lg-pad1 {
  position: absolute;
  width: 150px;
  right: 0%;
  top: 0%;
  z-index: -1;
}
.lg-pad2 {
  position: absolute;
  width: 150px;
  left: 0%;
  bottom: 0%;
  z-index: -1;
}
.xtra-section {
  background: ($primary-color);
  color: white;
  .xtra-section-container {
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 5rem;
    h3 {
      font-size: clamp(1rem, 3vw, 5rem);
      padding-bottom: 1rem;
    }
    p {
      line-height: 1.75;
      padding-bottom: 1rem;
    }
    .btn-free {
      font-size: 1.5rem;
    }
  }
}

.home-goal-container {
  background: url(../../Assets/img_bg_white.png);
  p {
    margin: 0 auto;
    // padding: 10rem 15rem;
    line-height: 1.75;
    word-spacing: 10px;
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}

footer {
  background: black;
  margin-top: 2rem;
  color: white;
  padding-bottom: 3rem;
  .copyrights {
    margin: var(--wrapper-lg-side-padding);
    margin-top: 1rem;
    @media (max-width: 650px) {
      margin: var(--wrapper-sm-side-padding);
    }
  }
  .divider {
    margin: var(--wrapper-lg-side-padding);
    margin-top: 2rem;
    border-bottom: 1px solid white;
    background: white;
    @media (max-width: 650px) {
      margin: var(--wrapper-sm-side-padding);
    }
  }
  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "grid-col-1 grid-col-1 grid-col-1 grid-col-2 grid-col-3 grid-col-4 grid-col-4 grid-col-4 grid-col-4";

    @media (max-width: 1500px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "grid-col-1 grid-col-1 grid-col-2 grid-col-3"
        "grid-col-1 grid-col-1 grid-col-4 grid-col-4";
    }
    @media (max-width: 950px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "grid-col-1 grid-col-1 grid-col-2 grid-col-3"
        "grid-col-4 grid-col-4 grid-col-4 grid-col-4";
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "grid-col-1 grid-col-1"
        "grid-col-2 grid-col-3"
        "grid-col-4 grid-col-4";
    }
    .grid-col-1 {
      grid-area: grid-col-1;
      margin-top: 2.5rem;
    }
    .grid-col-2 {
      grid-area: grid-col-2;
      margin-top: 2.5rem;
      li {
        list-style: none;
        padding-bottom: 0.5rem;
        &:hover {
          color: var(--primary-color);
          cursor: pointer;
        }
      }
    }
    .grid-col-3 {
      grid-area: grid-col-3;
      h4 {
        line-height: 1.5;
      }
    }
    .grid-col-4 {
      grid-area: grid-col-4;
      h4 {
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 750px) {
  .co-workers,
  .sanstitre {
    width: 300px !important;
  }
  .graph,
  .lg-pad1,
  .greenbox,
  .bitcoin {
    display: none;
  }
}

.subscribe-container {
  background: #212529;
  color: white;
  border-radius: 5px;
  padding: 5rem 2rem;
  .sub-div {
    width: fit-content;
    margin: 0 auto;
    span {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
  .newsletter-sub {
    margin-top: 2rem;
    p {
      margin-bottom: 1rem;
    }
    p:nth-child(1) {
      margin-bottom: 0%;
    }
  }

  .btn-subs {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background: var(--primary-color-1);
    border: none;
  }
  input[type="email"] {
    background: white;
    padding: 0.5rem;
    border: none;
    margin-bottom: 2rem;
    width: 100%;

    &:focus {
      border: none;
      outline: 2px solid var(--primary-color-3);
    }
  }
}
.scroll-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  bottom: 0%;
  right: 0%;
  margin-right: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;

  i::before {
    font-size: 1.25rem;
    color: white;
  }
}
