.home-container .home-main {
  padding: 7rem 4rem 0 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background: linear-gradient(95.19deg, #00001c 4.16%, #070d57 70.93%, #0d1991 97.33%);
  padding-bottom: 5rem;
  color: white;
}

@media (max-width: 40rem) {
  .home-container .home-main {
    padding: 3rem;
  }
}

.home-container .home-main .section-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
  max-width: 40rem;
}

.home-container .home-main .section-1-container h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.home-container .home-main .section-1-container .businessman-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home-container .home-main .section-1-container .businessman-container p {
  line-height: 1.8rem;
  margin-bottom: 3rem;
  max-width: 30rem;
}

.home-container .home-main .section-1-container .businessman-container .business-man {
  position: absolute;
  right: -10%;
  -webkit-animation: business_man 5s infinite;
          animation: business_man 5s infinite;
}

@media (max-width: 45rem) {
  .home-container .home-main .section-1-container .businessman-container .business-man {
    display: none;
  }
}

.home-container .home-main .section-1-container button {
  background: #2ddfa3;
  border-radius: 30px;
  color: white;
  padding: 1em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 40rem) {
  .home-container .home-main .section-1-container button {
    font-size: 0.7rem;
  }
}

.home-container .home-main .crypto-bg-image-hidden {
  display: block;
}

@media (max-width: 80rem) {
  .home-container .home-main .crypto-bg-image-hidden {
    display: none;
  }
}

.home-container .home-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 2rem 0 0 9rem;
}

@media (max-width: 40rem) {
  .home-container .home-section-2 {
    margin: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-container .home-section-2 h2::before {
  content: "";
  border-bottom: 3px solid black;
  width: 100px;
  position: absolute;
  top: 0%;
}

.home-container .home-section-2 h2 {
  padding-top: 2rem;
  color: #070d57;
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 250px;
}

.home-container .home-section-2 .sec-2-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 40rem) {
  .home-container .home-section-2 .sec-2-features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0rem;
  }
}

.home-container .home-section-2 .sec-2-features div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  padding-top: 2rem;
}

.home-container .home-section-2 .sec-2-features div p {
  margin-top: 1rem;
  width: 200px;
  text-align: center;
}

@-webkit-keyframes business_man {
  0% {
    top: 0%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}

@keyframes business_man {
  0% {
    top: 0%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}
/*# sourceMappingURL=Home.css.map */