#image0_118_140 {
  animation: humanAnimation 5s 1 linear, flyAnimation 5s 5s infinite linear;
}

.svg-home-crypto {
}

@keyframes flyAnimation {
  0% {
    transform: translateY(20%);
  }
  20% {
    transform: translateY(10%);
  }
  30% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(20%);
  }
}

@keyframes humanAnimation {
  0% {
    transform: translateX(-50%) rotateZ(45deg) scale(0.35);
  }
  50% {
    transform: translateX(-25%) rotateZ(25deg) scale(0.75);
  }
  100% {
    transform: translateX(0%) rotateZ(0deg) translateY(20%) scale(1);
  }
}
