.sidebar-container {
  min-height: 100vh;
  min-width: clamp(20vw, 400px, 100vw);

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  color: white;
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  .sidebar-close {
    color: white;
    font-size: 1.5rem;
    margin-left: auto;
    align-self: flex-start;
    border-radius: 50%;
    padding: 0.2em 0.4em;
    margin-top: 1em;
    &:hover {
      cursor: pointer;
      background: var(--primary-color-1);
    }
  }

  .nav-list {
    padding: 0;
    padding-top: 1rem;
    li {
      list-style: none;
      padding: 1em;
      i {
        padding-right: 1rem;
      }
      &:hover {
        cursor: pointer;
        background: var(--primary-color-1);
        color: white;
      }
    }
    .active {
      color: var(--primary-color-1);
    }
  }
}

.FadeIn {
  animation: FadeIn 0.5s forwards;
}

.FadeOut {
  animation: FadeOut 0.5s forwards;
}

@keyframes FadeIn {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes FadeOut {
  to {
    transform: translate(100%);
    display: none;
  }
}
