.sidebar-container {
  min-height: 100vh;
  min-width: clamp(20vw, 400px, 100vw);
  background: white;
  box-shadow: 0 5px 10px black;
  color: black;
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  animation: sidebarAnimation 0.5s forwards;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  .sidebar-close {
    color: black;
    font-size: 1.5rem;
    margin-left: auto;
    align-self: flex-start;
    border-radius: 50%;
    padding: 0.2em 0.4em;
    margin-top: 1em;
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .nav-list {
    padding: 0;
    li {
      list-style: none;
      padding: 1.5em;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
        background: rgba(218, 218, 218, 0.5);
      }
    }
  }
}

@keyframes sidebarAnimation {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes sidebarFadeOff {
  to {
    transform: translate(100%);
  }
}
