.signal-container {
  margin: 3rem 5rem;
  box-shadow: 2px 2px 10px black;
  .search-container {
    position: fixed;
    max-width: 1000px;
    z-index: 2;
    background-color: white;
  }
}
.bi-plus::before {
  content: "\f4fe";
  position: absolute;
  /* text-align: center; */
  left: 0;
}
.plus {
  &:hover {
    text-shadow: 4px 4px 15px #fff;
    box-shadow: 4px 3px 15px rgb(17, 116, 22);
    cursor: pointer;
  }
}
