.account-bg {
  min-height: 100vh;
  min-width: 100%;
  background: url(../../Assets/Login/Vector1.svg);
  background-color: var(--primary-color-1);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-bg .login-main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: clamp(60vw, 700px, 90vw);
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 4px 37px -6px rgba(0, 0, 0, 0.59);
          box-shadow: 1px 4px 37px -6px rgba(0, 0, 0, 0.59);
  max-width: 1000px;
}

.account-bg .login-main-container .Img-container {
  background-color: rgba(245, 245, 245, 0.7);
  min-width: 30%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .account-bg .login-main-container .Img-container {
    display: none;
  }
}

.account-bg .login-main-container .Img-container img {
  margin-left: -10rem;
  max-width: 150%;
}

.account-bg .login-main-container .paperClip {
  position: absolute;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 1px 4px black;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  right: 0%;
  top: -3%;
}

.account-bg .login-container {
  padding: 3rem 2rem 3rem 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 450px) {
  .account-bg .login-container {
    padding-right: 0;
  }
}

.account-bg .login-container .form-container {
  position: relative;
  margin: 0 10rem 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .account-bg .login-container .form-container {
    margin-right: 3rem;
  }
}

@media (max-width: 500px) {
  .account-bg .login-container .form-container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    gap: 1.5rem;
  }
}

.account-bg .login-container .account-helper {
  color: #b9bbbe;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  margin-left: 3rem;
  max-width: 70%;
}

.account-bg .login-container .account-helper span {
  color: #5bbdff;
  padding-left: 0.2rem;
}

.account-bg .login-container .account-helper span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.account-bg .login-container .greeter-container {
  text-align: center;
}

.account-bg .login-container .greeter-container div {
  font-size: 2rem;
  line-height: 1.75;
}

.account-bg .login-container .greeter-container p {
  font-size: 0.8rem;
  color: #b9bbbe;
}

.account-bg .login-container .btn-signin {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  background: var(--primary-color-3);
  width: 100%;
  border: none;
  font-weight: bold;
}

.account-bg .login-container .btn-signin:hover {
  opacity: 0.8;
  color: white;
}

.register {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-position: right;
  padding-left: 5rem;
}

@media screen and (max-width: 600px) {
  .register {
    padding-left: 1rem;
  }
}

.register-main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: clamp(60vw, 700px, 90vw);
  border-radius: 10px;
  max-width: 800px;
}

.register-img-container {
  width: 40%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 500px;
}

@media screen and (max-width: 1200px) {
  .register-img-container {
    display: none;
  }
}

.register-img-container img {
  margin-left: -10rem;
  max-width: 150%;
}
/*# sourceMappingURL=Account.css.map */