//black-color-palette

$primary-black-color: #242424;
$secondary-black-color: #343434;

//project-color-palette

$primary-color: #5865f2;
$secondary-color: #3ca45c;
$terinary-color: #ed4245;

//font-black-color-palette

$black-header-primary: #fff;
$black-header-secondary: #b9bbbe;
$black-text-normal: #dcddde;
$balck-text-muted: #72767d;

//font-color-palette
$header-primary: #070d57;

//background-color-palette

$background-primary-color: #202225;
$background-secondary-color: #00001a;
$background-terinary-color: #36393f;

//font sizes

$font-size-sm: 0.75rem;
