body {
  overflow-x: hidden;
  position: relative;
}

.sidemenu-main-container {
  position: absolute;
  display: flex;
  inset: 0 0 auto auto;
  z-index: 9999;
}
.sidebar-menu {
  font-size: 1.5rem;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-right: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.sidebar-menu:hover {
  cursor: pointer;
}
