body {
  overflow-x: hidden;
}
.sidebar-menu {
  font-size: 2rem;
  color: white;
  position: fixed;
  inset: 0 0 auto auto;
  background: var(--primary-color-5);
  border-radius: 50%;
  padding: 0.5rem;
  margin: 1rem 1rem 0 0;
  z-index: 999;
}
.sidebar-menu:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .sidebar-menu {
    inset: auto 0 0 auto;
  }
}
