:root {
  --primary-color: #2ddfa3;
  --wrapper-lg-side-padding: 0 4em 0 9em;
  --wrapper-lg-top-padding: 7em;
  --wrapper-sm-side-padding: 0 3rem;

  --primary-color-1: #5c7aff;
  --primary-color-2: #4a8fe7;
  --primary-color-3: #59d2fe;
  --primary-color-4: #44e5e7;
  --primary-color-5: #73fbd3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
}

button {
  border: none;
  :hover {
    border: none;
  }
}
